body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 18, 25);
}

#header {
    height: 100vh;
    background: url(/img/background.png) repeat;
}

body {
    background: url(/img/background2.png) repeat;
}

h1 {
    font-family: Junegull;
}

p {
    font-size: 20px;
    font-family: Tiempos;
}

nav {
    font-size: 20px;
    text-align: center;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.user-box h1 {
    color: rgb(173, 217, 244);
    margin: 15px;
    font-weight: bold;
}

.user-box p {
    color: rgb(173, 217, 244);
}

@font-face {
    font-family: Tiempos;
    src: url("/tiempos.otf") format("opentype");
}

@font-face {
    font-family: Junegull;
    src: url("/junegull.ttf") format("truetype");
}

#main {
    height: 70vh;
    background: url(/img/background2.png) repeat;
}

.content {
    padding: 100px;
}

.content img {
    padding-right: 30px;
    float: left;
    width: 40%;
    height: 40%;
}

.content p {
    font-size: 19px;
    color: rgb(173, 217, 244);
}

.about-h1 {
    font-size: 60px;
    float: right;
    padding-top: 70px;
    padding-right: 500px;
}

.exp {
    padding: 100px;
}

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {
    width: 80%;
    background-color: #04AA6D;
}

.css {
    width: 40%;
    background-color: rgb(71, 108, 155);
}

.python {
    width: 90%;
    background-color: rgb(152, 68, 71);
}

.java {
    width: 75%;
    background-color: rgb(255, 217, 76);
}

.contact-form {
    background: url(/img/background.png) repeat;
    text-align: center;
    padding: 100px;
}

.contact-form legend,
p,
label {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}