body {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(0, 18, 25);
}

#header {
    height: 100vh;
    background: url(/img/background.png) repeat 0 0;
}

.user-box {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.heading {
    font-size: 50px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(184, 184, 184);
    padding-left: 250px;
}

.sub-heading {
    font-size: 35px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(184, 184, 184);
    padding-left: 300px;
}

.my-exp {
    list-style: none;
    color: white;
    font-size: 30px;
    padding-left: 200px;
}

.contact-form {
    padding-left: 150px;
}

.contact-form legend, p, label {
    color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}